* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: "Conv_Gilroy-ExtraBold";
  src: url("../fonts/Gilroy-ExtraBold.eot");
  src: local("☺"), url("../fonts/Gilroy-ExtraBold.woff") format("woff"),
    url("../fonts/Gilroy-ExtraBold.ttf") format("truetype"),
    url("../fonts/Gilroy-ExtraBold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Conv_Gilroy-Light";
  src: url("../fonts/Gilroy-Light.eot");
  src: local("☺"), url("../fonts/Gilroy-Light.woff") format("woff"),
    url("../fonts/Gilroy-Light.ttf") format("truetype"),
    url("../fonts/Gilroy-Light.svg") format("svg");
  font-weight: 600;
  font-style: normal;
}

/* navbar @ photo */

.header {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navbar {
  width: 940px;
  display: flex;
  justify-content: space-between;
  margin-top: 34px;
  margin-bottom: 36px;
  margin-right: 3px;
}
.navbar_link {
  text-decoration: none;
  color: #828282;
  font-family: Conv_Gilroy-ExtraBold;
  font-size: 18px;
}

.navbar_link:last-child {
  margin-right: -4px;
}



.active.active {
  color: #070707;
}

.navbar_link:hover {
  color: #070707;
}

.mainhead {
   margin-top: 25px;
   width: 940px;
   display: flex;
   justify-content: space-between;
}
.denis {
  font-family: Conv_Gilroy-ExtraBold;
  font-size: 47px;
  line-height: 59px;
  color: #070707;
  margin-top: 5px;
}
.minsk {
  font-family: Conv_Gilroy-Light;
  font-size: 18px;
  line-height: 22px;
  color: #070707;
  align-self: center;
  margin-top: 54px;
  margin-right: 5px;
}
.eng {
  height: 20px;
  font-family: Conv_Gilroy-ExtraBold; 
  font-size: 16px;
  line-height: 20px;
  transform: rotate(-90deg);
  align-self: center;
  margin-top: 30px;
  position: relative;
  left: 25px;
  
}

.eng a {
  text-decoration: none;
  color: #828282;
}

.eng a:hover {
   color: #070707;
}

.photo1 {
  margin-top: 40px;
  margin-bottom: 105px;
}

/* about me */

.text {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1445px;
  height: 506px;
  background: #F6F6F6;  
  margin-bottom: 79px; 
}
.about_me {
  font-family: Conv_Gilroy-ExtraBold;
  font-size: 34px;
  line-height: 42px;
  text-align: center;
  color: #070707;
  margin-top: 108px;
  margin-bottom: 24px;
}
.ux_ui {
  font-family: Conv_Gilroy-Light;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #070707;
  margin-bottom: 107px;
}

.text_block1 {
  margin-bottom: 43px;
}

.text_block2 {
  margin-bottom: 45px;
}

.text_block3 {
  margin-bottom: 40px;
}

/* skills block */

.all_skills {
  width: 1445px;
  margin: 0 auto;
}
.text_skills {
  text-align: center;
  font-family: Conv_Gilroy-ExtraBold;
  font-size: 34px;
  line-height: 42px;
  color: #070707;
  margin-bottom: 57px;
  margin-top: 30px;
}
.work {
  text-align: center;
  font-family: Conv_Gilroy-Light;
  font-size: 18px;
  line-height: 22px;
  color: #070707;
  font-weight: 600;
  margin-bottom: 87px;

}
.img_skills {
  display: flex;
  justify-content: center;
  width: 100%;
}
.ps {
  margin-right: 45px;
  margin-bottom: 110px;
  margin-left: 3px;
}
.ai {
  margin-left: 45px;
  margin-right: 45px;
  margin-bottom: 110px;
}
.ae {
  margin-left: 45px;
  margin-right: 45px;
  margin-bottom: 110px;
}
.figma {
  margin-left: 45px;
  margin-bottom: 110px;
}

/* portfolio */

.portfolio_img {
  width: 1445px;
  height: 2253px;
  margin: 0 auto;
  background: #F6F6F6;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 108px;
}

.portfolio_text {
  font-family: Conv_Gilroy-ExtraBold;
  font-size: 34px;
  line-height: 42px;
  text-align: center;
  color: #070707;
  margin-bottom: 55px;
  margin-left: 6px;
}

.portfolio_png {
  margin-left: 5px;
}

.reebok_png {
  margin-left: 6px;
}

.braun_png {
  margin-right: 4px;
}

.portfolio_link {
  margin-top: 38px;
  margin-bottom: 102px;
  margin-left: 10px;
  font-family: Conv_Gilroy-Light;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  text-decoration-line: underline;
  color: #070707;
  font-weight: 600;
}
.reebok_link {
  margin-top: 38px;
  margin-left: 10px;
  margin-bottom: 103px;
  font-family: Conv_Gilroy-Light;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  text-decoration-line: underline;
  color: #070707;
  font-weight: 600;
} 
.braun_link {
  margin-top: 39px;
  margin-left: 11px;
  font-family: Conv_Gilroy-Light;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  text-decoration-line: underline;
  color: #070707;
  font-weight: 600;
}

/* contacts */

.contacts_footer {
  width: 1445px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contacts_text {
  margin-top: 109px;
  font-family: Conv_Gilroy-ExtraBold;
  font-size: 34px;
  line-height: 42px;
  text-align: center;
  color: #070707;
  margin-bottom: 26px;

}
.welcome {
  font-family: Conv_Gilroy-Light;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #070707;
  margin-bottom: 23px;
  margin-left: 7px;
}

.send {
  margin-left: 9px;
}

.icons {
  width: 342px;
  height: 41px;
  display: flex;
  justify-content: space-between;
  margin-top: 55px;
  margin-bottom: 44px;
}

.footer {
  font-family: Conv_Gilroy-Light;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #828282;
  margin-bottom: 123px;
  margin-left: 8px;
}
