* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: "Conv_Gilroy-ExtraBold";
  src: url("../fonts/Gilroy-ExtraBold.eot");
  src: local("☺"), url("../fonts/Gilroy-ExtraBold.woff") format("woff"),
    url("../fonts/Gilroy-ExtraBold.ttf") format("truetype"),
    url("../fonts/Gilroy-ExtraBold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Conv_Gilroy-Light";
  src: url("../fonts/Gilroy-Light.eot");
  src: local("☺"), url("../fonts/Gilroy-Light.woff") format("woff"),
    url("../fonts/Gilroy-Light.ttf") format("truetype"),
    url("../fonts/Gilroy-Light.svg") format("svg");
  font-weight: 600;
  font-style: normal;
}

/* navbar @ photo */

.header {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navbar {
  width: 940px;
  display: flex;
  justify-content: space-between;
  margin-top: 33px;
  margin-bottom: 24px;
}
.navbar_link {
  text-decoration: none;
  color: #828282;
  font-family: Conv_Gilroy-ExtraBold;
  font-size: 18px;
}

.navbar_link:first-child {
  color: #070707;
}

.mainhead {
   margin-top: 25px;
   width: 940px;
   display: flex;
   justify-content: space-between;
}
.denis {
  font-family: Conv_Gilroy-ExtraBold;
  font-size: 47px;
  line-height: 59px;
  color: #070707;
}
.minsk {
  font-family: Conv_Gilroy-Light;
  font-size: 18px;
  line-height: 22px;
  color: #070707;
  align-self: flex-end;
}
.eng {
  height: 20px;
  font-family: Conv_Gilroy-ExtraBold; 
  font-size: 16px;
  line-height: 20px;
  transform: rotate(-90deg);
  align-self: center;
  margin-top: 55px;
  position: relative;
  left: 25px;
  
}

.eng a {
  text-decoration: none;
  color: #828282;
}

.eng .eng_link {
  color: #070707;
}

.photo1 {
  margin-top: 40px;
  margin-bottom: 105px;
}

/* about me */

.text {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1445px;
  height: 506px;
  background: #F6F6F6;  
  margin-bottom: 91px; 
}
.about_me {
  font-family: Conv_Gilroy-ExtraBold;
  font-size: 34px;
  line-height: 42px;
  text-align: center;
  color: #070707;
  margin-top: 120px;
  margin-bottom: 36px;
}
.ux_ui {
  font-family: Conv_Gilroy-Light;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #070707;
  margin-bottom: 107px;
}

/* skills block */

.all_skills {
  width: 1445px;
  margin: 0 auto;
}
.text_skills {
  text-align: center;
  font-family: Conv_Gilroy-ExtraBold;
  font-size: 34px;
  line-height: 42px;
  color: #070707;
  margin-bottom: 69px;

}
.work {
  text-align: center;
  font-family: Conv_Gilroy-Light;
  font-size: 18px;
  line-height: 22px;
  color: #070707;
  font-weight: 600;
  margin-bottom: 84px;

}
.img_skills {
  display: flex;
  justify-content: center;
  width: 100%;
}
.ps {
  margin-right: 45px;
  margin-bottom: 110px;
}
.ai {
  margin-left: 45px;
  margin-right: 45px;
  margin-bottom: 110px;
}
.ae {
  margin-left: 45px;
  margin-right: 45px;
  margin-bottom: 110px;
}
.figma {
  margin-left: 45px;
  margin-bottom: 110px;
}

/* portfolio */

.portfolio_img {
  width: 1445px;
  height: 2253px;
  margin: 0 auto;
  background: #F6F6F6;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 113px;
}

.portfolio_text {
  font-family: Conv_Gilroy-ExtraBold;
  font-size: 34px;
  line-height: 42px;
  text-align: center;
  color: #070707;
  margin-bottom: 52px;
}
.portfolio_link {
  margin-top: 40px;
  margin-bottom: 100px;
  font-family: Conv_Gilroy-Light;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  text-decoration-line: underline;
  color: #070707;
  font-weight: 600;
}
.reebok_link {
  margin-top: 45px;
  margin-bottom: 100px;
  font-family: Conv_Gilroy-Light;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  text-decoration-line: underline;
  color: #070707;
  font-weight: 600;
} 
.braun_link {
  margin-top: 46px;
  font-family: Conv_Gilroy-Light;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  text-decoration-line: underline;
  color: #070707;
  font-weight: 600;
}

/* contacts */

.contacts_footer {
  width: 1445px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contacts_text {
  margin-top: 114px;
  font-family: Conv_Gilroy-ExtraBold;
  font-size: 34px;
  line-height: 42px;
  text-align: center;
  color: #070707;
  margin-bottom: 20px;
}
.welcome {
  font-family: Conv_Gilroy-Light;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #070707;
  margin-bottom: 30px;
}
.icons {
  width: 342px;
  height: 41px;
  display: flex;
  justify-content: space-between;
  margin-top: 86px;
  margin-bottom: 45px;
}
.footer {
  font-family: Conv_Gilroy-Light;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #828282;
  margin-bottom: 123px;
}


 