* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: "Conv_Gilroy-ExtraBold";
  src: url("../fonts/Gilroy-ExtraBold.eot");
  src: local("☺"), url("../fonts/Gilroy-ExtraBold.woff") format("woff"),
    url("../fonts/Gilroy-ExtraBold.ttf") format("truetype"),
    url("../fonts/Gilroy-ExtraBold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Conv_Gilroy-Light";
  src: url("../fonts/Gilroy-Light.eot");
  src: local("☺"), url("../fonts/Gilroy-Light.woff") format("woff"),
    url("../fonts/Gilroy-Light.ttf") format("truetype"),
    url("../fonts/Gilroy-Light.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}

.navbar {
  width: 69%;
  height: 100%;
  margin-top: 33px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: #828282;
}

.home a {
  color: #070707;
}

.home {
  font-family: Conv_Gilroy-ExtraBold;
  font-size: 18px;
  display: block;
  color: #070707;
  text-align: center;
  margin-left: 9px;
  
}
.about {
  font-family: Conv_Gilroy-ExtraBold;
  font-size: 18px;
  display: block;
  color: #828282;
  margin-left: 155px;
}

.skills {
  font-family: Conv_Gilroy-ExtraBold;
  font-size: 18px;
  display: block;
  color: #828282;
  margin-left: 156px;
}

.portfolio {
  font-family: Conv_Gilroy-ExtraBold;
  font-size: 18px;
  display: block;
  color: #828282;
  margin-left: 157px;
}

.contacts {
  font-family: Conv_Gilroy-ExtraBold;
  font-size: 18px;
  display: block;
  color: #828282;
  margin-left: 156px;

}

.vector {
  text-align: center; 
  margin-top: 24px;
}

.mainhead {
  width: 980px;
  /* background-color: skyblue; */
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 25px;
}

.denis {
  font-family: Conv_Gilroy-ExtraBold;
  font-size: 47.3392px;
  line-height: 59px;
  color: #070707;
  /* background-color: springgreen; */
  margin-left: 20px;
}


.minsk {
  font-family: Conv_Gilroy-Light;
  font-size: 18px;
  line-height: 22px;
  color: #070707;
  /* background-color: steelblue; */
  margin-right: 24px;
  margin-bottom: 13px;
}

.eng {
  height: 20px;
  font-family: Conv_Gilroy-ExtraBold; 
  font-size: 16px;
  line-height: 20px;
  color: #828282;
  transform: rotate(-90deg);
  /* background-color: tan; */
  align-self: center;
  margin-top: 25px;
  position: relative;
  left: 5px;
}

.photo1 {
  text-align: center; 
  margin-top: 40px;
  margin-bottom: 105px;
}

.text {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1445px;
  height: 506px;
  background: #F6F6F6;  
  margin-bottom: 91px; 
}
.about_me {
  font-family: Conv_Gilroy-ExtraBold;
  font-size: 34px;
  line-height: 42px;
  text-align: center;
  color: #070707;
  margin-top: 120px;
  margin-bottom: 36px;
}
.ux_ui {
  font-family: Conv_Gilroy-Light;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #070707;
  margin-bottom: 107px;
}

.all_skills {
  width: 1445px;
  margin: 0 auto;
}
.text_skills {
  text-align: center;
  font-family: Conv_Gilroy-ExtraBold;
  font-size: 34px;
  line-height: 42px;
  color: #070707;
  margin-bottom: 69px;

}
.work {
  text-align: center;
  font-family: Conv_Gilroy-Light;
  font-size: 18px;
  line-height: 22px;
  color: #070707;
  font-weight: 600;
  margin-bottom: 84px;

}
.img_skills {
  display: flex;
  justify-content: space-around;
}
.ps {
}
.ai {
}
.ae {
}
.figma {
}



 